{{- with .Values.rollout }}
{{- if eq .strategy "canary" -}}
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ include "name" $ }}
  {{- if $.Values.image.autoUpdate }}
  annotations:
    {{- include "image.autoUpdate.annotations" $ | nindent 4 }}
  {{- end }}
spec:
  strategy:
    canary:
      stableService: {{ include "name" $ }}
      canaryService: {{ include "name" $ }}-canary
      maxSurge: {{ .maxSurge }}
      maxUnavailable: {{ .maxUnavailable }}
      trafficRouting:
        traefik:
          weightedTraefikServiceName: {{ include "name" $ }}
      analysis:
        templates:
          - templateName: {{ include "name" $ }}-success-rate
        args:
          - name: target
            value: {{ include "name" $ }}
      steps:
        {{- .canary.steps | toYaml | nindent 8 }}
  {{- include "deployment.template" $ | nindent 2 }}
{{- end }}
{{- end }}
